.card {
  padding: 1.5rem;
  text-align: center;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  min-width: 25%;
  display: block;
}

.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: 150px;
  background-image: url("../public/avatar.jpg");
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
